@import url(index.css);
@import url(index-mobile.css);

main {
    flex-direction: column;
}

main h2 {
    color: #F79817;
    margin-bottom: 15px;
}

main p {
    color: #939393FF;
    margin-bottom: 15px;
}

/* Contact Form Styling */
.contact-form {
    max-width: 800px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto 15px;
}

.contact-form label {
    font-weight: bold;
    color: #333;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.contact-form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #555;
}

/* Social Icons Container */
.social-icons {
    display: flex;
    gap: 10px; /* Space between icons */
    justify-content: center;
    margin-top: 15px; /* Space above icons */
}

/* Font Awesome Icon Styling */
.fa {
    padding: 15px;
    font-size: 32px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}

/* Hover effect */
.fa:hover {
    opacity: 0.7;
}

/* Facebook Icon */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter Icon */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: linear-gradient(135deg, #854ae4, #ef4172, #febc2f);
    color: white;
}


body.mobile {
    main {
        justify-content: center;
    }

    main h2 {
        font-size: 5vh;
        margin-bottom: 1vh;
        text-align: center;
    }

    main p {
        width: 90vw;
        font-size: 3vh;
        margin-bottom: 2vh;
        text-align: justify;
    }

    main form label {
        font-size: 2.5vh;
    }

    /* Contact Form Styling */

    .contact-form {
        max-width: 90vw;
        min-width: 60vw;
        gap: 2vh 2vw;
        padding-top: 3vh;
        padding-bottom: 3vh;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 0 auto 15px;
    }

    .contact-form input,
    .contact-form select,
    .contact-form textarea {
        width: 80vw;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 3vh;
    }

    .contact-form button {
        padding: 1vh;
        border-radius: 8px;
        font-size: 3vh;
    }

    /* Social Icons Container */

    .social-icons {
        gap: 3vw; /* Space between icons */
        margin-top: 0.5vh; /* Space above icons */
    }

    /* Font Awesome Icon Styling */

    .fa {
        vertical-align: center;
        horiz-align: center;
        padding: 1.3vw;
        font-size: 7vh;
        width: 16vw;
        height: 16vw;
        border-radius: 24px;
    }

    @media (orientation: landscape) {
        main h2 {
            font-size: 10vh;
            margin-bottom: 1vh;
        }

        main p {
            font-size: 5vh;
            text-align: center;
        }

        .fa {
            vertical-align: center;
            horiz-align: center;
            padding: 1.3vh;
            font-size: 7vw;
            width: 20vh;
            height: 20vh;
            border-radius: 24px;
        }

    }
}