/*======================================================
                          Main content
  ======================================================*/
h3 {
    color: #F79817;
}

main article {
    color: #939393FF;
}

body.desktop {
    main {
        padding: 85px 10px 50px;
        flex-direction: column;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; /* Centers columns within .row */
        max-width: 1200px; /* Optional: Limits max width for better control */
        gap: 20px; /* Optional: Adds space between columns */
    }

    .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }

    figure {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        min-width: 30%;
    }

    figure img {
        max-width: 100%;
        height: auto;
        width: auto;
    }


    @media screen and (min-width: 800px) {
        .column {
            flex: 1
        }

        .double-column {
            flex: 2
        }
    }


    .wider-col {
        flex: 2
    }

    p {
        text-align: justify;
        font-size: 1.2em;
        margin-bottom: 0.65em;
    }

    .instagram-media {
        max-width: 540px;
        min-width: 326px;
        width: 99.375%;
        width: -webkit-calc(100% - 2px);
        width: calc(100% - 2px);
        background: #FFF;
        border: 0;
        border-radius: 3px;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
        margin: 1px;
        padding: 0;
    }

    .instagram-media-2 {
        background: #FFFFFF;
        line-height: 0;
        padding: 0 0;
        text-align: center;
        text-decoration: none;
        width: 100%;
    }

    .instagram-media-3 {
        background-color: #F4F4F4;
        border-radius: 50%;
        flex-grow: 0;
        height: 40px;
        margin-right: 14px;
        width: 40px;
    }

    .instagram-media-4 {
        background-color: #F4F4F4;
        border-radius: 4px;
        flex-grow: 0;
        height: 14px;
        margin-bottom: 6px;
        width: 100px;
    }

    .instagram-media-5 {
        background-color: #F4F4F4;
        border-radius: 4px;
        flex-grow: 0;
        height: 14px;
        width: 60px;
    }

}

body.mobile {
    main {
        padding: 12vh 10px 8vh;
    }

    @media {
        .instagram-media {
            display: none !important;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            justify-content: center
        }

        figure {
            width: 70vw;
        }

        figure img {
            width: 70vw;
        }


        p {
            text-align: justify;
            font-size: 1em;
            margin-bottom: 1vh;
        }

        h3 {
            font-size: 2em;
        }

        .instagram-media {
            min-width: 80vw;
        !important;
            max-width: 80vw;
        }
    }

    /*@media (orientation: landscape) {*/
    /*    .row {*/
    /*        display: flex;*/
    /*        flex-direction: row;*/
    /*        flex-wrap: wrap;*/
    /*        justify-content: center; !* Centers columns within .row *!*/
    /*        max-width: 1200px; !* Optional: Limits max width for better control *!*/
    /*        gap: 20px; !* Optional: Adds space between columns *!*/
    /*    }*/

    /*    .column {*/
    /*        display: flex;*/
    /*        flex-direction: column;*/
    /*        flex-basis: 100%;*/
    /*        flex: 1;*/
    /*    }*/

    /*    figure {*/
    /*        max-width: 500px;*/
    /*        width: 100%;*/
    /*        margin: 0 auto;*/
    /*        min-width: 30%;*/
    /*    }*/

    /*    figure img {*/
    /*        max-width: 100%;*/
    /*        height: auto;*/
    /*        width: auto;*/
    /*    }*/


    /*    @media screen and (min-width: 800px) {*/
    /*        .column {*/
    /*            flex: 1*/
    /*        }*/

    /*        .double-column {*/
    /*            flex: 2*/
    /*        }*/
    /*    }*/


    /*    .wider-col {*/
    /*        flex: 2*/
    /*    }*/

    /*    p {*/
    /*        text-align: justify;*/
    /*        font-size: 1.2em;*/
    /*        margin-bottom: 0.65em;*/
    /*    }*/

    /*    h3 {*/
    /*        font-size: 2em;*/
    /*    }*/

    /*    .instagram-media {*/
    /*        max-width: 540px;*/
    /*        min-width: 326px;*/
    /*        width: 99.375%;*/
    /*        width: -webkit-calc(100% - 2px);*/
    /*        width: calc(100% - 2px);*/
    /*        background: #FFF;*/
    /*        border: 0;*/
    /*        border-radius: 3px;*/
    /*        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);*/
    /*        margin: 1px;*/
    /*        padding: 0;*/
    /*    }*/

    /*    .instagram-media-2 {*/
    /*        background: #FFFFFF;*/
    /*        line-height: 0;*/
    /*        padding: 0 0;*/
    /*        text-align: center;*/
    /*        text-decoration: none;*/
    /*        width: 100%;*/
    /*    }*/

    /*    .instagram-media-3 {*/
    /*        background-color: #F4F4F4;*/
    /*        border-radius: 50%;*/
    /*        flex-grow: 0;*/
    /*        height: 40px;*/
    /*        margin-right: 14px;*/
    /*        width: 40px;*/
    /*    }*/

    /*    .instagram-media-4 {*/
    /*        background-color: #F4F4F4;*/
    /*        border-radius: 4px;*/
    /*        flex-grow: 0;*/
    /*        height: 14px;*/
    /*        margin-bottom: 6px;*/
    /*        width: 100px;*/
    /*    }*/

    /*    .instagram-media-5 {*/
    /*        background-color: #F4F4F4;*/
    /*        border-radius: 4px;*/
    /*        flex-grow: 0;*/
    /*        height: 14px;*/
    /*        width: 60px;*/
    /*    }*/

    /*}*/

}