@import url(index.css);
@import url(Gallery.css);
@import url(index-mobile.css);

main {
    flex-direction: column;
}

main section h2 {
    color: #F79817;
    margin-bottom: 15px;
}

main section p {
    color: #939393FF;
    margin-bottom: 15px;
}

body.mobile {
    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }
}
